$cyan-light00: hsl(185, 41%, 84%);
$cyan-light01:hsl(189, 41%, 97%);
$cyan-dark00: hsl(186, 14%, 43%);
$cyan-dark01: hsl(184, 14%, 56%);
$cyan-dark02: hsl(183, 100%, 15%);
$primary-clr: hsl(172, 67%, 45%);
$white: hsl(0, 0%, 100%);
/*FONT SIZE*/
$form-fs: 24px;
/*FONT WEIGHT*/
$light-ft: 400;
$medium-ft: 500;
$bold-ft: 700;